@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  color: black;
  background: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main {
  background-image: url('../../public/main-bg.png');
}

.place-link:hover span {
  color: #69b1ff;
}

.slider-pr:focus-visible {
  outline: none;
}

.slick-arrow::before {
  display: none;
}

@media (max-width: 417px) {
  .nav {
    width: 100%;
  }
}