* {
  scroll-behavior: smooth;
}

body {
  color: black;
  background: #fff;
}

.main {
  background-image: url("../../public/main-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.bukhara {
  background-image: url("../../public/bukhara.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -200px;
}

.samarkand {
  background-image: url("../../public/samarkand.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -200px;
}

.tashkent {
  background-image: url("../../public/tashkent.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -200px;
}

.place-link:hover span {
  color: #69b1ff;
}

.slider-pr:focus-visible {
  outline: none;
}

.slick-arrow::before {
  display: none;
}

.sel-cause {
  background-image: url(../../public/selection-cause.png);
}

.rest-card:hover {
  transform: translateY(-5px);
}

.tap-highlight-transparent {
  padding: 16px 16px;
  border: 0 !important;
  border-bottom: 1px solid #9d9d9d !important;
  outline: none !important;
}

.py-2 {
  padding: 16px;
  background-color: white !important;
  border-bottom: 1px solid #9d9d9d !important;
  font-size: 14px;
}

.table-pr {
  overflow-x: auto;
}

.navbar {
  overflow-y: auto !important;
}

.plus:hover .plus-icon {
  background-color: #222;
  color: white;
}

.imag {
  width: 200px !important;
  height: 170px !important;
  object-fit: cover;
}

@media (max-width: 768px) {
  .slider-pr {
    width: 94%;
  }

  .rest-card:not(:last-child) {
    margin-bottom: 15px;
  }

  .tap-highlight-transparent {
    padding: 12px 16px;
    font-size: 13px;
  }

  .py-2 {
    padding: 12px 16px;
    font-size: 12px;
  }

  .btn-el:first-child {
    margin-right: 10px;
  }

  .card-el {
    margin-bottom: 20px;
  }

  .btn-el {
    margin-bottom: 20px;
  }

  .table-pr {
    width: 416px;
  }
}

@media (max-width: 417px) {
  .nav {
    width: 100%;
  }

  .slider-pr {
    width: 92%;
  }

  .hero-btn {
    margin-right: 0;
  }

  .card-sel {
    margin-right: 0;
  }

  .card-el {
    margin-right: 0;
  }

  .btn-el {
    margin-right: 0 !important;
  }

  .table-pr {
    width: 319px;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
