@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  color: black;
  background: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main {
  background-image: url("../../public/main-bg.png");
}

.place-link:hover span {
  color: #69b1ff;
}

.slider-pr:focus-visible {
  outline: none;
}

.slick-arrow::before {
  display: none;
}

.sel-cause {
  background-image: url(../../public/selection-cause.png);
}

.rest-card:hover {
  transform: translateY(-5px);
}

.tap-highlight-transparent {
  padding: 16px 16px;
  border: 0 !important;
  border-bottom: 1px solid #9d9d9d !important;
  outline: none !important;
}

.py-2 {
  padding: 16px;
  background-color: white !important;
  border-bottom: 1px solid #9d9d9d !important;
  font-size: 14px;
}

@media (max-width: 768px) {
  .slider-pr {
    width: 94%;
  }

  .rest-card:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media (max-width: 417px) {
  .nav {
    width: 100%;
  }

  .slider-pr {
    width: 92%;
  }

  .hero-btn {
    margin-right: 0;
  }

  .card-sel {
    margin-right: 0;
  }
}
